@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Vazirmatn";
        src: url("/fonts/vazir/Vazirmatn-Bold.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Dana";
        src: url("/fonts/Dana/woff2/DanaFaNum-Regular.woff2")
            format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana Medium";
        src: local("Dana Medium"),
            url("/fonts/Dana/woff2/DanaFaNum-Medium.woff2")
                format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana DemiBold";
        src: local("Dana DemiBold"),
            url("/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2")
                format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba Bold";
        src: local("Morabba Bold"),
            url("/fonts/Morabba/woff2/Morabba-Bold.woff2")
                format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba Light";
        src: local("Morabba Light"),
            url("/fonts/Morabba/woff2/Morabba-Light.woff2")
                format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba Medium";
        src: local("Morabba Medium"),
            url("/fonts/Morabba/woff2/Morabba-Medium.woff2")
                format("woff2");
        font-display: swap;
    }
}
@layer components {
    .submenu {
        @apply flex-col -translate-y-4 text-sm mx-7 gap-y-1 text-zinc-600;
    }
    .sub-show {
        @apply hidden;
    }
    .bak {
        background: url(/image/background.webp);
    }
    .back-gallary {
        background: url(/image/BG-SVG/moji.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    .section-title {
        @apply text-2xl md:text-5xl font-MorabbaMedium text-zinc-700 dark:text-white;
    }

    .section-link {
        @apply font-DanaMedium flex items-center md:gap-x-1 h-10 pr-3 pl-1 text-base md:text-xl  text-violet-500 md:hover:bg-orange-300/20 rounded-md transition-all;
    }
    .overlay {
        @apply fixed inset-0 bg-black/50 w-screen h-screen z-20;
    }
    .gallary-elm {
        @apply gap-4 justify-center items-center grid  grid-cols-2 sm:grid-cols-3 md:grid-cols-4 child:size-32 child:md:size-52 child-hover:scale-150 child:transition-all child:rounded-md child:border;
    }
}
@layer utilities {
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
